<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dbConnection" class="com.kubilaycicek.db.DBConnection">
		<constructor-arg name="url" value="mysql:localhost:8080"></constructor-arg>
		<constructor-arg name="username" value="root"></constructor-arg>
		<constructor-arg name="password" value="password"></constructor-arg>
	</bean>


	<bean id="dbConnectionIndex" class="com.kubilaycicek.db.DBConnection">
		<constructor-arg index="0" value="oracle:localhost:5050"></constructor-arg>
		<constructor-arg index="1" value="root"></constructor-arg>
		<constructor-arg index="2" value="1234"></constructor-arg>
	</bean>

</beans>
